<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Madhu</title>
</head>
<body>
    <h1>This is Madhu</h1>
    <img src="madhu.png" width=300px height=300px>
    <p>Iam the closest frnd of yaswanth in my childhood days.
        he is very naught in his school days.
     </p>
     <table border="5">
        <tr>
            <td>description</td>
            <td>Details</td>
        </tr>
        <tr>
            <td>age</td>
            <td>17</td>
        </tr>
        
        <tr>
            <td>Interests</td>
            <td>vollyball,online games </td>
        </tr>
     </table>
    <a href="{% url 'Iam' %}"><Button>Home</Button></a>
</body>
</html>